/*底层公共样式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div{margin:0px;padding:0px;border: none;}
body,ul,ol,li,p,form,fieldset{ font-family:Verdana,"Lucida Grande",Arial,Helvetica,sans-serif;}
body{ background:#fff; font-family:Verdana,"Lucida Grande",Arial,Helvetica,sans-serif;font-size: 12px;line-height: 18px;color:#000; margin:0px; height:100%; text-align:left;}
p,li,select,input,textarea,div{font-size:12px;}
ol,ul,li{list-style:none;}
img{border:none;}
#content___Frame{ height:400px;}
.w3check,.w3xhtml,.w3css{ display:none; }
.clear{ font-size:0px; clear:both; height:0px; overflow:hidden; line-height:0px; }
.debugInfo,.showDebug,.debugRequest,.debugResponse{ clear:both; }

/*默认链接样式*/
a{ color:#000; text-decoration:none; }
a:hover{color:#000; text-decoration:underline; }
.button{ cursor:pointer;}
.hidden{ display:none;} 
.display{ display:inline;}

/* messagebox */
.mb_outer .mb_prev{ 
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:10000;
	filter:alpha(opacity=25); /*IE's (opacity)*/
	opacity: 0.25;
	background-color:#000; 
	height:100%; overflow:hidden!important;
}

.mb_outer .mb_frame {
	border: 1px solid #104987;
    z-index:10001;
    width:410px;
    background-color:#1169B1;
    left: 0px; 
    top:0px; overflow:hidden!important; 
}

.mb_outer .mb_title { background:url(../image/MessageBox/title_bg.gif) no-repeat; padding-bottom:8px; text-align:left; height:31px; width:410px; cursor:move; }
.mb_outer .mb_title_left{ width:381px; text-indent:7px; color:#fff; height:31px; font-size:14px; font-weight:bold; line-height:31px; float:left; }
.mb_outer .mb_title_right{ width:29px; float:left; }
.mb_outer .mb_content { background-color:#FFF; padding:10px 10px 20px 10px; font-size:14px; color:#000; }
.mb_outer .mb_confirm { padding:10px 0px; text-align:center; height:25px; background:#fff; line-height:25px;}
.mb_confirm input{ height:23px; line-height:21px; border:1px solid #ccc; color:#777777; text-align:center; width:50px; background-color:#fff; margin-right:10px;}

/* status bar */
.status_outer .mb_prev{ 
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index:10000;
	filter:alpha(opacity=0); /*IE's (opacity)*/
	opacity: 0;
	background-color:#fff; 
	height:100%;
}

.status_outer .mb_frame {
	border: 1px solid #3c1414;
	z-index:10001; position:fixed!important; position:absolute;
	width:80px; 
	right: 0px; 
	top: 0px; 
	background-color:#ea1717; color:#FFFFFF; height:20px; line-height:20px;
}

.status_outer .mb_content {
	background-color:#ff5a00;
	/*width:100%;*/
	padding:0px 10px;
	font-size:12px; height:18px; line-height:18px; 
}

.status_outer .mb_iframe {
	background-color:white;
	width: 430px;
}
.status_outer .mb_ok{ width:51px; height:20px; background:url(common/image/MessageBox/pos_ok.gif); border:none; margin-right:10px;}
.status_outer .mb_cancel{ width:51px; height:20px; background:url(common/image/MessageBox/pos_cancel.gif); border:none;}
.editor{ float:left; }
