
/*ͷ*/

.header{ width:900px; margin:0px auto; height:51px; margin-top:10px; }
.logo{ height:51px; float:left; width:220px; }
.menu{ height:35px; line-height:35px; float:left; color:#fff; margin:16px 0px 0px 24px; display:inline; background:url(../image/v_login/menu_bg.gif) no-repeat; width:636px; padding-left:20px; font-weight:bold; }

/**/
.content{ width:900px; margin:0px auto; }
.vLogin{ width:838px; height:348px; margin:10px auto; background:url(../image/v_login/login_bg.gif) no-repeat; }
.left{ float:left; width:510px; }
.right{ float:left; width:303px; padding:65px 10px 10px; }
.right .inp{ margin-top:10px; height:30px;  }
.right .inp_left{ float:left; width:70px; padding-left:30px; font-size:14px; }
.right .inp_right{ float:left; width:178px; }
.right .inputbar{ border:1px solid #B1B1B1; padding:5px; background:#fff; width:158px;}
.right .but{ height:40px; margin-top:10px; text-align:center; }
.right .loginbar{ cursor:pointer; background:url(../image/v_login/login.gif) no-repeat; border:none; width:82px; height:24px; line-height:24px; font-size:14px; text-align:center; font-weight:bold; }
.right .info{ margin-top:10px; padding-top:20px; padding-left:15px; height:60px; } 
.right .link{ float:left; margin-right:5px; background:url(../image/v_login/linkbar.gif) no-repeat; width:80px; height:22px; line-height:22px; text-align:center; }
.inp_right select{ padding:2px; width:150px;}
.userActive{ width:838px; height:348px; margin:10px auto; background:url(../image/v_login/active_bg.gif) no-repeat; }
.findPassword{ width:838px; height:348px; margin:10px auto; background:url(../image/v_login/password_bg.gif) no-repeat; }
.active{ font-size:14px; font-weight:bold; width:250px; padding:20px 0px 0px 20px; }

.middle{}
.middle .tit{ height:56px; }
.vCorpUserReg .tit{ background:url(../image/v_login/corp_title.gif) no-repeat;}
.vCommonUserReg .tit{ background:url(../image/v_login/user_title.gif) no-repeat;}
.middle .tit_left{ float:left; width:220px; height:56px; }
.middle .tit_right{ float:left; width:660px; padding-right:10px; height:28px; margin-top:28px; color:#006DC0; line-height:28px; text-align:right; }
.middle .base{ border-bottom:1px dashed #5CBDFB; width:860px; padding:20px 17px; border-left:3px solid #69ABEA; border-right:3px solid #69ABEA; }
.middle .inp{ width:860px; float:left; margin-top:5px; }
.middle .inp_left{ float:left; width:130px; height:35px; text-indent:30px; line-height:35px; font-size:14px; background:#F3F3F3 url(../image/v_login/icon_01.gif) no-repeat 20px 13px;   }
.middle .inp_right{ float:left; width:720px; padding:5px 0px 0px 10px; }
.middle .reg_info{ padding-left:20px; margin-left:20px; background:url(../image/v_login/reg_info.gif) no-repeat; }
.middle .reg_error{ padding-left:20px; margin-left:20px; background:url(../image/v_login/reg_error.gif) no-repeat; }
.middle .reg_ok{ padding-left:20px; margin-left:20px; background:url(../image/v_login/reg_ok.gif) no-repeat; }
.middle .inputbar{ border:1px solid #B1B1B1; padding:5px; background:#fff; width:230px;}
.middle .textbar{ border:1px solid #B1B1B1; padding:5px; background:#fff; width:400px; height:150px; }
.middle .but{ height:40px; width:860px; padding:20px 17px; text-align:center; border-left:3px solid #69ABEA; border-right:3px solid #69ABEA; }
.middle .bottom{ height:10px; line-height:10px; width:900px; overflow:hidden; background:url(../image/v_login/bottom.gif) no-repeat; }
.middle .loginbar{ cursor:pointer; background:url(../image/v_login/loginbar.gif) no-repeat; border:none; width:102px; height:33px; line-height:33px; font-size:14px; text-align:center; }
.seccode_input input{ border:1px solid #B1B1B1; padding:5px; background:#fff; width:80px; }
.success{ width:570px; padding:50px 0px 0px 234px; height:237px; margin:50px auto; background:url(../image/v_login/success_bg.gif) no-repeat; }
.success_tit{ height:40px; line-height:40px; font-size:18px; font-weight:bold; }
.success_opt{ height:50px; line-height:25px; font-size:14px; }
.success_act{ height:40px; line-height:40px; font-size:14px; color: #005EAC; }
.success_act a{ color: #005EAC; text-decoration:underline;}
.success_act a:hover{ color:#005EAC; text-decoration:none;}
/*β*/
.footer{ width:900px; margin:0px auto; border-top:2px solid #3E8AE5; }
.footer .links{ height:26px; display:none; line-height:26px; margin-top:10px; background:#3E8AE5; color:#fff; text-align:center; }
.footer .links a{ color: #fff; text-decoration:none;}
.footer .links a:hover{ color:#fff; text-decoration:underline;}
.footer .copyright{ text-align:center; font-size:14px; height:30px; line-height:30px; margin-bottom:20px; }
.footer .copyright a{ color: #3E8AE5; text-decoration:none;}
.footer .copyright a:hover{ color:#3E8AE5; text-decoration:underline;}
/**/
a{color: #000; text-decoration:none;}
a:hover{color:#000; text-decoration:underline;}
.blue { color: #2523e9;}
.blue:link,.blue:active,.blue:visited { color: #2523e9; text-decoration:underline;}
.blue:hover { color:#2523e9;  text-decoration:none;}
.org { color: #f60;}
.org:link,.org:active,.org:visited { color: #f60; text-decoration:underline;}
.org:hover { color:#f60;  text-decoration:none;}
.white { color: #fff;}
.white:link,.white:active,.white:visited { color: #fff; text-decoration:none;}
.white:hover { color:#fff;  text-decoration:underline;}
/*FROM*/





